.Toasts {
  display: flex;
  overflow: hidden;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  padding: var(--space-lg);
  pointer-events: none;

  &_toast {
    display: flex;
    max-width: 100%;
    align-items: center;
    justify-content: center;
    padding: var(--space-lg);
    border-radius: var(--bdrs-md);
    margin-top: var(--space-md);
    background-color: var(--c-gray-9-7);
    color: var(--c-gray-1);
    line-height: 1.5;
    text-align: center;
  }
}
