.Index {
  display: flex;
  max-width: 500px;
  flex-direction: column;
  flex-grow: 1;
  margin: 0 auto;
  accent-color: currentcolor;
  font-size: 20px;
  font-weight: 700;

  &_playerStats {
    display: flex;
    width: 100%;
    flex-direction: column;
  }

  &_playerStat {
    position: relative;
    display: flex;
    height: 55px;
    padding: 10px;

    &__red {
      background-color: var(--c-red);
    }

    &__blue {
      background-color: var(--c-blue);
    }

    &__green {
      background-color: var(--c-green);
    }

    &__yellow {
      background-color: var(--c-yellow);
    }

    &__black {
      background-color: var(--c-black);
    }
  }

  &_playerStatLabel {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }

  &_playerStatRadio {
    width: 25px;

    &__red {
      color: var(--c-red);
    }

    &__blue {
      color: var(--c-blue);
    }

    &__green {
      color: var(--c-green);
    }

    &__yellow {
      color: var(--c-yellow);
    }

    &__black {
      color: var(--c-black);
    }
  }

  &_carsLeft {
    display: flex;
    flex-grow: 1;
    align-items: center;
  }

  &_playerStatPoints {
    display: flex;
    flex-grow: 1;
    align-items: center;
  }

  &_player {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    padding: 2px;

    &__red {
      background-color: var(--c-red);
    }

    &__blue {
      background-color: var(--c-blue);
    }

    &__green {
      background-color: var(--c-green);
    }

    &__yellow {
      background-color: var(--c-yellow);
    }

    &__black {
      background-color: var(--c-black);
    }
  }

  &_counter {
    display: flex;
    width: 50%;
    height: 55px;
    padding: 2px;
  }

  &_counterText {
    display: flex;
    flex-grow: 1;
    align-items: center;
    justify-content: center;
    background-color: var(--c-gray-4);
  }

  &_counterButton {
    display: flex;
    flex-grow: 1;
    align-items: center;
    justify-content: center;
    background-color: var(--c-gray-3);
    cursor: pointer;

    &__disabled {
      color: var(--c-gray-4);
      cursor: not-allowed;
    }
  }

  &_counterValue {
    display: flex;
    flex-grow: 1;
    align-items: center;
    justify-content: center;
    background-color: var(--c-gray-2);
  }

  &_longestContainer {
    display: flex;
    width: 50%;
    padding: 2px;
  }

  &_longest {
    position: relative;
    display: flex;
    flex-grow: 1;
    align-items: center;
    justify-content: flex-end;
    padding: 10px;
  }

  &_longestLabel {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: center;
    padding: 0 10px;
  }

  &_longestRadio {
    display: flex;
    width: 25px;
    height: 25px;
    align-items: center;
    justify-content: center;

    &__red {
      color: var(--c-red);
    }

    &__blue {
      color: var(--c-blue);
    }

    &__green {
      color: var(--c-green);
    }

    &__yellow {
      color: var(--c-yellow);
    }

    &__black {
      color: var(--c-black);
    }
  }

  &_longestReset {
    display: flex;
    width: 55px;
    align-items: center;
    justify-content: center;
    padding: 0 10px;
    background-color: var(--c-gray-3);
    cursor: pointer;
  }

  &_routeInputsContainer {
    display: flex;
    width: 100%;
    height: 55px;
    align-items: center;
    padding: 2px;
  }

  &_checkboxContainer {
    display: flex;
    width: 50%;
    align-items: center;
  }

  &_routeCheckboxLabel {
    padding: 0 10px;
  }

  &_routeCheckbox {
    width: 30px;
    height: 30px;
    border: 2px solid var(--c-gray-9);
    margin-right: 10px;
    margin-left: auto;

    &__red {
      color: var(--c-red);
    }

    &__blue {
      color: var(--c-blue);
    }

    &__green {
      color: var(--c-green);
    }

    &__yellow {
      color: var(--c-yellow);
    }

    &__black {
      color: var(--c-black);
    }
  }

  &_routeInputContainer {
    display: flex;
    width: 50%;
    height: 100%;
  }

  &_routeInput {
    width: 100%;
    height: 100%;
    padding: 20px;
    background-color: var(--c-gray-2);
  }

  &_routeAddButton {
    display: flex;
    height: 100%;
    align-items: center;
    padding: 10px;
    background-color: var(--c-gray-3);

    &__disabled {
      color: var(--c-gray-4);
      cursor: not-allowed;
    }
  }

  &_routes {
    display: flex;
    width: 100%;
    flex-direction: column;
  }

  &_route {
    display: flex;
    width: 100%;
    height: 55px;
    padding: 2px;
  }

  &_routeCompleted {
    display: flex;
    flex-grow: 1;
    align-items: center;
    justify-content: center;
    padding: 10px;
  }

  &_routePoints {
    display: flex;
    width: 55px;
    align-items: center;
    padding: 10px;
  }

  &_routeRemoveButton {
    display: flex;
    align-items: center;
    padding: 10px;
    margin-left: auto;
    background-color: var(--c-gray-3);
    cursor: pointer;
  }
}
